<h1>hello</h1>

    {% load static %}
    {% load drivelink %}





    {% if c.0.video %}
    <p>{{ c.0.video.url|convert_drivelink }}</p>
    
    {% endif %}


    <html>

    <head>
        <script src="https://use.fontawesome.com/20603b964f.js"></script>
        <script type="text/javascript" src="https://content.jwplatform.com/libraries/LJ361JYj.js"></script>
        <script type="text/javascript">
            jwplayer.key = 'ypdL3Acgwp4Uh2/LDE9dYh3W/EPwDMuA2yid4ytssfI=';
        </script>
    </head>

    <body>
        
        {% for a in c.all %}
            
            {% if a.video %}
            <div id="myElement-{{ a.id}}"></div>
            {% endif %}
                
        {% endfor %}
            
    </br>
        <div class='video'>
           
           {% for a in c.all %}
           <script type="text/javascript">
            jwplayer("myElement-{{ a.id}}").setup({
                "advertising": {
                    "client": "vast",
                    "schedule": [{
                        "tag": "https://s.yimg.com/cv/apiv2/nfl/ads/20190906/a/sportsapp.xml",
                        "type": "nonlinear",
                        "offset": 2
                    }]
                },
                image: "{{ a.map_data.url|convert_drivelink }}",
                aspectratio: "16:9",
                width: '800px',
                aspectratio: '16:9',
                autostart: false,
                sources: [
                {file:
                'https://www.googleapis.com/drive/v3/files/{{ a.video.url|convert_drivelink }}?alt=media&key=AIzaSyAoX3E4y1ZywvoSoqSiJWcxQHxGjlI6wyg',type:
                'mp4',label: '720p'},
                {file:
                    'https://www.googleapis.com/drive/v3/files/{{ a.video.url|convert_drivelink }}?alt=media&key=AIzaSyAoX3E4y1ZywvoSoqSiJWcxQHxGjlI6wyg',type:
                    'mp4',label: '480p'}
                ],
               

                captions: {
                    color: '#ffb800',
                    fontSize: 30,
                    backgroundOpacity: 0
                },

            })
        </script>
           {% endfor %}
               
            
           
        </div>
    </body>

    </html>